.container-fluid {
  display: flex;
  overflow: hidden;
  background-color: black;
}

body::-webkit-scrollbar,
.right::-webkit-scrollbar,
.expenses-wrapper::-webkit-scrollbar {
  display: none;
}

.left-wrapper {
  background-color: black;
  color: white;
}

body {
  background-color: aquamarine;
  color: aliceblue;
}

.right {
  background-color: #26221f;
  color: #bfb293;
  transition: box-shadow 0.3s ease;
  outline: none;
}

.operations-card {
  background-color: #26221f;
  color: #bfb293;
  border: 1px solid #bfb293;
  transition: box-shadow 0.3s ease;
  outline: none;
}

.operations-card input,
.operations-card select,
.operations-card button {
  background-color: #26221f;
  border: 1px solid #bfb293;
  color: #bfb293;
  transition: box-shadow 0.3s ease;
  outline: none;
}

.operations-card button {
  background-color: #bfb293;
  color: #26221f;
}

.operations-card input::placeholder {
  color: #bfb293;
}

.operations-card input:hover,
.operations-card button:hover {
  box-shadow: 0 0 10px #bfb293;
}

.operations-card input:focus,
.operations-card select:focus {
  background-color: #26221f;
  color: #bfb293;
  border: 2px solid #bfb293;
}

.right {
  height: 90vh; /* 80% of the viewport height */
  overflow-y: hidden; /* Hide the vertical scrollbar */
  border: 1px solid #bfb293;
}

.expenses-wrapper {
  border: 1px solid #bfb293;
}
.container-fluid {
  height: 100vh; /* Set container height to 100% of viewport height */
}

.expenses-wrapper {
  height: 90%; /* 90% height of the parent .right */
  overflow-y: auto; /* Enable vertical scrolling for contents */
}

.operations-card {
  background-color: #26221f;
  color: #bfb293;
  border: 1px solid #bfb293;
  transition: box-shadow 0.3s ease;
  outline: none;
}

.expenses-wrapper {
  background-color: black;
}
.single-entry {
  border: 1px solid #bfb293;
  background-color: #26221f;
}

.single-entry button {
  background-color: #bfb293;
  color: #26221f;
}

.single-entry input::placeholder {
  color: #bfb293;
}

.single-entry input:hover,
.single-entry button:hover {
  box-shadow: 0 0 10px #bfb293;
}

.single-entry input:focus,
.single-entry select:focus {
  background-color: #26221f;
  color: #bfb293;
  border: 2px solid #bfb293;
}
