body {
  background-color: #f5e8dd;
}

.atm-card {
  background-image: url(./card.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eed3d9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 50px; /* Adjust as needed for vertical alignment */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* Set a definite height using viewport height (vh) */
  height: 40vh; /* Adjust as needed */
}

.card-title {
  color: #333;
  font-weight: bold;
}

.card-info {
  margin-top: 20px;
}

.expense {
  border: 1px solid green;
  border-radius: 25px;
  background-color: #b5c0d0;
}

.transactions {
  height: 500px; /* Adjust the height as needed */
  overflow-y: auto;
  align-items: center;
}

.right-column {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ensure the right column takes full height */
}

.transactions::-webkit-scrollbar {
  display: none;
}
